/* .caja{background-color: white; 

width: 15%;

height: 50%;

padding: 10px;

border: solid 4px rgb(15, 15, 213);
 
margin-left: 10px;
 
text-align: center;
}
.caja1{background-color: white;

    width: 15%;
    
height: 50%;
    
    padding: 10px;
    
    border: solid 4px rgb(42, 125, 39);
     
    margin-left: 10px;
     
    text-align: center;
    
    
    }
    .caja2{background-color: white;

        width: 15%;
        
        height: 50%;
        
        padding: 10px;
        
        border: solid 4px rgb(199, 246, 31);
         
        margin-left: 10px;
         
        text-align: center;
        }*/

.contenedor{
    display: flex;
    justify-content: center;
}
.titulos{

    text-align: center;
}
.formulario{
    text-align: center;
    
}

.boton{
    width: 23%;
    font-size: 20px;
    background-color: #8DB600;
    border-radius: 5px;
    color: aliceblue;
}
.selector{
    width: 23%;
    size: 80%;
    padding: 5px;
}
.cant{

    margin-right: 15%;
    padding: 5px;
}
.botones{
    width: 23%;
    font-size: 20px;
    border-radius: 5px;
    

}
.correo{
    width: 46%;
    font-size: 20px;
    border-radius: 5px;
    
}





